.klasha_wire {
  background-color: rgba(239, 44, 90, 1);
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 190px;
  padding: 1rem;
  border-radius: 5px;
  flex: 1;
  margin-top: 35px;
}

.klasha_wire_p {
  color: #fff;
  font-weight: 500;
  font-family: "General sans";
  width: 60%;
  line-height: 30px;
}

.klasha_wire_btn {
  max-width: 60%;
  background-color: #000000;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .klasha_wire {
    width: 100%;
    flex: 12;
    align-self: flex-start;
    gap: 12px;
  }
}
