.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
  margin-top: 1rem;
  cursor: pointer;
  fill: red;
}

.navItem:hover {
  color: rgba(239, 44, 90, 1);
  font-weight: 600;
}

.active {
  color: rgba(239, 44, 90, 1);
  font-weight: 600;
}
