.sale_summary_dark {
  min-width: 12.5rem;
  min-height: 12.5rem;
  background: rgba(0, 0, 0, 1);
  border-radius: 5px;
}
.sale_summary {
  width: 12.5rem;
  background: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  min-height: 12.5rem;
}
.chart_cover {
  width: 12.5rem;
}

.hide_chart {
  display: none;
}

.range_date {
  font-size: 0.875rem;
  font-family: "Inter sans-serif";
  color: #fff;
  margin-left: 15px;
  margin-top: 20px;
}
.range_date_white {
  font-size: 0.875rem;
  font-family: "Inter sans-serif";
  color: #000;
  margin-left: 0.938rem;
  margin-top: 1.25rem;
}
.title {
  font-size: 0.875rem;
  font-family: "Inter sans-serif";
  color: #000;
  margin-left: 0.938rem;
}
.title_dark {
  color: white;
  margin-left: 0.938rem;
}
.todays_sale_title {
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
  margin-left: 0.938rem;
}

.amount,
.amount_white {
  padding-top: 0.313rem;
  font-family: "Inter sans-serif";
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  margin-left: 0.938rem;
}

.amount {
  color: #fff;
  margin-left: 0.938rem;
}
