/* set html root font size and set overflow-x */
html {
  font-size: 16px;
  overflow-x: hidden;
}
/* overide default styles */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  overflow-x: hidden;

  position: relative;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
